ip_address: 127.0.0.1
port: 8081
database_server: 127.0.0.1
database_name: sml
database_user: postgres
database_password: password
show_requests: true
static_dir: /data/dev/work/sysmon-logger-ui/source/src/info-assure/static
template_dir: /data/dev/work/sysmon-logger-ui/source/src/info-assure/templates/
export_dir: /data/dev/work/sysmon-logger-server/source/src/info-assure/summary/