{{ define "navbar" }}
    <div class="ui two item menu">
        <a class="active item" href="/events">Events</a>
        <div class="ui simple dropdown item">
            Data
            <i class="dropdown icon"></i>
            <div class="menu">
                <div class="item"><a class="item" href="/processcreate">Process Create</a></div>
                <div class="item"><a class="item" href="/processterminate">Process Terminate</a></div>
                <div class="item"><a class="item" href="/networkconnection">Network Connection</a></div>
                <div class="item"><a class="item" href="/filecreationtime">File Creation Time</a></div>
                <div class="item"><a class="item" href="/driverloaded">Driver Loaded</a></div>
                <div class="item"><a class="item" href="/imageloaded">Image Loaded</a></div>
                <div class="item"><a class="item" href="/rawaccessread">Raw Access Read</a></div>
                <div class="item"><a class="item" href="/createremotethread">Create Remote Thread</a></div>
            </div>
          </div>
    </div>
{{ end }}

{{ define "table_name" }}
    {{ template "event_table" . }}
{{ end }}