{{ define "search_table" }}

    {{ if eq .has_data true }}

        {{ template "events_buttons_top" . }}

        <table id="events" class="ui celled selectable striped compact table">
            <thead>
                <tr>
                    <th>Domain</th>
                    <th class="poppy" data-variation="basic" data-content="Host" style="text-align: center;"><i class="blue desktop icon"></i></th>
                    <th class="poppy" data-variation="basic" data-content="Timestamp" style="text-align: center;"><i class="blue clock icon"></i></th>
                    <th>Type</th>
                    <th>Data</th>
                </tr>
            </thead>

            <tfoot>
            </tfoot>

            <tbody>
                {{ range $event := .events }}
                <tr id="event{{ $event.Id }}">
                    <td>{{ $event.Domain }}</td>
                    <td>{{ $event.Host }}</td>
                    <td>{{ $event.UtcTimeStr }}</td>
                    <td>{{ $event.Type }}</td>
                    <td style="word-wrap: break-word">{{ $event.Data }}</td>
                </tr>
                {{ end }}
            </tbody>
        </table>

        <div>&nbsp;</div>

        {{ template "events_buttons_bottom" . }}
    {{ end }}

    <script type="text/javascript">
        // Show/hide the child data rows
        $(".toggler").click(function(e){
            e.preventDefault();
            $('.child'+$(this).attr('other-data')).toggle();
        });
    </script>
{{ end }}